* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
h1 {
  font-size: 3.4rem;
  color: #5e5f6b;
  font-weight: 900;
  font-style: italic;
  margin-bottom: 2rem;
}
input {
  width: 85%;
  border: solid 1px rgba(0, 0, 0, 0.5);
  border-radius: 2.5px;
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 2rem;
  font-size: 1.4rem;
  font-family: "Merriweather", serif;
  color: #5e5f6b;
}
li {
  margin-bottom: 10px;
  list-style: none;
  font-size: 1.4rem;
  color: #5e5f6b;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

li button {
  font-size: 8px;
  margin-left: 20px;
  border: none;
  border-radius: 2.5px;
  background: red;
  color: white;
  padding: 5px 8px;
  font-size: 1.5rem;
  cursor: pointer;
}
.btn-add {
  cursor: pointer;
  width: 10%;
  border-radius: 50rem;
  border: none;
  color: white;
  background: #72e350;
  padding: 7px 8px 5px 8px;
}
body {
  min-height: 100vh;
  display: flex;
  background: #f0efe9;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Merriweather", serif;
}
.shop-wrapper {
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: 0px 0px 29px -3px rgba(232, 232, 232, 1);
  padding: 2rem;
  min-height: 70vh;
  border-radius: 5px;
}
