:root {
  --DarkBlue: hsl(233, 26%, 24%);
  --LimeGreen: hsl(136, 65%, 51%);
  --BrightCyan: hsl(192, 70%, 51%);

  --GrayishBlue: hsl(233, 8%, 62%);
  --LightGrayishBlue: hsl(220, 16%, 96%);
  --VeryLightGray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);

  --FontLight: 300;
  --FontMedium: 400;
  --FontBold: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: calc(1.8rem + 0.5vmin);
  font-family: "Public Sans", sans-serif;
}
.btn-cta {
  border: none;
  border-radius: 50px;
  color: var(--White);
  padding: 1rem 2.5rem;
  font-size: calc(1rem + 0.5vmin);
  background: linear-gradient(
    40deg,
    rgba(62, 218, 130, 1) 7%,
    rgba(55, 143, 230, 1) 100%
  );
  cursor: pointer;
}
header {
  width: 85%;
  margin: 0 auto;
  z-index: 1000;
  nav {
    position: relative;

    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
      display: flex;

      li {
        list-style: none;
        margin: 0 1rem;
      }
      a {
        font-size: calc(1rem + 0.75vmin);
        font-weight: var(--FontLight);
        color: var(--GrayishBlue);
        text-decoration: none;
      }
    }
  }
}
.hero-section {
  min-height: 90vh;
  background: url("./images/bg-intro-desktop.svg"), var(--LightGrayishBlue);
  background-position: 350% 70%;
  background-clip: padding-box;
  background-repeat: no-repeat;
  position: relative;

  .mockup-desktop {
    position: absolute;
    top: -10px;
    right: 0px;
    z-index: 0;
    width: 50%;
    overflow: hidden;
  }
}
