* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  //   padding: 3rem 2rem;
  font-family: "Open Sans", sans-serif;
  background: white;
  //   font-family: "Poppins", sans-serif;
  //   color: hsl(192, 100%, 9%);
  //   color: hsl(207, 100%, 98%);
}
/*BUTTON*/
.btn {
  border: none;
  border-radius: 50px;
  font-family: "Open Sans", sans-serif;
}
.sign-up {
  border: solid 1px hsl(322, 100%, 66%);
  background: none;
  padding: 0.5rem 0;
  color: hsl(322, 100%, 66%);
  width: 30%;
  font-weight: 600;
}
.get-started {
  margin: 2rem 0;
  background: hsl(322, 100%, 66%);
  color: white;
  font-weight: 700;
  padding: 1.5rem 0;
  width: 60%;
}
.cta-btn {
  border: none;
  border-radius: 0.5rem;
  padding: 1.5rem 0;
  background: hsl(322, 100%, 66%);
  width: 50%;
  color: white;
}
input {
  border: none;
  border-radius: 0.5rem;
  padding: 1.5rem 0;
}
/*^^BUTTON & INPUT*/

/*HEADER*/
header {
  padding: 4rem 3rem 5rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    width: 40%;
  }
}
/*^^HEADER*/

/*HERO SECTION*/
.hero {
  padding: 5rem 3rem;
  text-align: center;
  h1 {
    font-family: "Poppins", sans-serif;
    font-size: 2.8rem;
  }
  h3 {
    margin: 2rem 0;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 0 2rem;
  }
  img {
    width: 90%;
    margin: 0 auto;
  }
  .counter-list {
    li {
      list-style: none;
      //   margin: 0 auto;
      //   text-align: center;
      position: relative;
      padding: 2.5rem 0;
      img {
        width: 8%;
        position: absolute;
        top: 0px;
        left: 30%;
      }
      h2 {
        font-size: 5rem;
        font-weight: 700;
      }
      h3 {
        margin: 0;
      }
    }
  }
}
/*^^HERO SECTION*/

/*FEATURES SECTION*/
.features {
  padding: 5rem 0;
  .card {
    text-align: center;

    img {
      width: 70%;
      margin: 0 auto;
      margin-bottom: 4rem;
    }
    h2 {
      font-family: "Poppins", sans-serif;
      font-size: 2rem;
      margin: 1.5rem 0;
    }
    p {
      margin: 1.5rem 0;
      padding: 0 1rem;
      font-size: 1.4rem;
    }
  }
  .with-bg {
    background: hsl(207, 100%, 98%);
    padding: 8rem 0;
  }
}
.bg-grow-top {
  content: url("../huddle-landing-page-with-curved-sections-master/images/bg-section-top-mobile-1.svg");
  width: 100%;
}
.bg-grow-bottom {
  content: url("../huddle-landing-page-with-curved-sections-master/images/bg-section-bottom-mobile-1.svg");
  width: 100%;
  margin-bottom: 10rem;
}
.bg-users-top {
  margin-top: 10rem;
  content: url("../huddle-landing-page-with-curved-sections-master/images/bg-section-top-mobile-2.svg");
  width: 100%;
}
.bg-users-bottom {
  content: url("../huddle-landing-page-with-curved-sections-master/images/bg-section-bottom-mobile-2.svg");
  width: 100%;
}
/*^^FEATURES SECTION*/

/*CALL TO ACTION SECTION*/
.call-to-action {
  text-align: center;
  padding: 5rem 0;
  h2 {
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
  }
}
/*^^CALL TO ACTION SECTION*/

/*FOOTER*/
.bg-footer {
  content: url("../huddle-landing-page-with-curved-sections-master/images/bg-footer-top-mobile.svg");
}
footer {
  background: hsl(192, 100%, 9%);
  color: white;
  .newsletter {
    padding: 4rem 2rem 8rem 2rem;
    h4 {
      font-size: 1.8rem;
    }
    p {
      font-weight: 400;
      font-size: 1.4rem;
      margin: 2rem 0;
    }
    input {
      width: 100%;
    }
    button {
      margin: 1rem 0;
      float: right;
      font-size: 1.8rem;
    }
  }
  .contact-info {
    margin: 5rem 2rem 0 2rem;
    font-size: 1.4rem;
    img {
      width: 40%;
    }
    p {
      margin: 2rem 0;
      padding-right: 2.5rem;
    }
    li {
      margin: 1rem 0;
      list-style: none;
    }
    .li-icon {
      margin-right: 0.5rem;
      img {
        width: 15px;
      }
    }
    .social-icon {
      padding: 2rem 0;

      img {
        margin-right: 1rem;
        width: 10%;
      }
    }
  }
  //   .attribution {
  //     text-align: center;
  //     padding: 1rem 0;
  //     a {
  //       color: orange;
  //       font-weight: 600;
  //     }
  //   }
}
/*^^FOOTER*/

// <!-- MEDIA QUERIES -->
@media screen and (min-width: 1440px) {
  /*HEADER*/
  header {
    img {
      width: 20%;
    }
    .sign-up {
      padding: 1rem 0;
      width: 15%;
    }
  }
  /*^^HEADER*/
  /*HERO SECTION*/
  .hero {
    h1 {
      font-size: 4rem;
    }
    h3 {
      font-size: 1.8rem;
      padding: 0 40rem;
      font-weight: 600;
    }
    .get-started {
      padding: 2rem 3rem;
      width: 20%;
      //   font-size: 1.8rem;
    }
    img {
      text-align: center;
      width: 50%;
      margin: 5rem auto;
    }
    .counter-list {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-top: 10rem;
      li {
        img {
          width: 20%;
          top: -75px;
          left: 0px;
        }
        h2 {
          padding: 0;
          font-size: 7rem;
          font-weight: 700;
        }
        h3 {
          padding: 0;
          margin: 0;
        }
      }
    }
  }
  /*^^HERO SECTION*/

  /*FEATURES SECTION*/
  .features {
    .card,
    .card.with-bg {
      display: flex;
      align-items: center;
      text-align: left;
      padding: 0 15rem;
      img {
        width: 50%;
      }
      h2 {
        font-size: 3.6rem;
      }
      p {
        padding: 0;
        font-size: 2rem;
      }
      .card-content {
        margin: 3 rem;
        padding: 5rem;
      }
    }
    .card.with-bg {
      flex-direction: row-reverse;
    }
  }
  .bg-grow-top {
    content: url("../huddle-landing-page-with-curved-sections-master/images/bg-section-top-desktop-1.svg");
    width: 100%;
  }
  .bg-grow-bottom {
    content: url("../huddle-landing-page-with-curved-sections-master/images/bg-section-bottom-desktop-1.svg");
    width: 100%;
    margin-bottom: 10rem;
  }
  .bg-users-top {
    margin-top: 10rem;
    content: url("../huddle-landing-page-with-curved-sections-master/images/bg-section-top-desktop-2.svg");
    width: 100%;
  }
  .bg-users-bottom {
    content: url("../huddle-landing-page-with-curved-sections-master/images/bg-section-bottom-desktop-2.svg");
    width: 100%;
  }
  /*^^FEATURES SECTION*/

  /*CALL TO ACTION SECTION*/
  .call-to-action {
    margin: 5rem 0;
    h2 {
      font-size: 3.6rem;
    }
    button {
      padding: 2rem 0;
      width: 20%;
      font-size: 1.8rem;
    }
  }
  /*^^CALL TO ACTION SECTION*/
  /*FOOTER*/
  .bg-footer {
    content: url("../huddle-landing-page-with-curved-sections-master/images/bg-footer-top-desktop.svg");
    margin-bottom: -1px;
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
    padding: 4rem;
    .newsletter {
      h4 {
        font-size: 2.2rem;
      }
      p {
        font-size: 2rem;
        // padding-right: 35rem;
      }
      input {
        width: 60%;
      }
      button {
        width: 30%;
        margin: 0;
        font-size: 2rem;
      }
    }
    .contact-info {
      margin-right: 15rem;
      img {
        width: 40%;
      }
      p {
        font-size: 2rem;
      }
      li {
        font-size: 2rem;
      }
      .li-icon {
        img {
          width: 20px;
        }
      }
      .social-icon {
        img {
          margin-top: 5rem;
          width: 5%;
        }
      }
    }
    // .attribution {
    //   text-align: center;
    //   padding: 1rem 0;
    //   a {
    //     color: orange;
    //     font-weight: 600;
    //   }
    // }
  }
  /*^^FOOTER*/
}
