* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Josefin Sans", sans-serif;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 245, 245, 1) 100%
  );
  //Primary
  // background: hsl(0, 36%, 70%);
  // background: hsl(0, 93%, 68%);

  //Neutral
  // background: hsl(0, 6%, 24%);

  //Gradients
  //   - Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
  // - Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%);
}
h1 {
  margin: 5rem 0 0 0;
  color: hsl(0, 36%, 70%);
  font-weight: 300;
  font-size: 3.6rem;
}
h2 {
  margin: 0 0 2rem 0;
  color: hsl(0, 6%, 24%);
  font-size: 3.6rem;
}
h1,
h2 {
  text-align: center;
  letter-spacing: 1rem;
}
p {
  margin: 0 0 2rem 0;
  color: rgba(206, 151, 151, 0.7);
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 400;
  text-align: center;
}
#logo {
  align-items: center;
  padding: 2rem 0 2rem 3rem;
  width: 35%;
}
.hero-section {
  min-height: 100vh;

  img {
    width: 100%;
  }
}
.content-wrapper {
  margin: 0 2.5rem;
}
input,
button {
  border: none;
}
input {
  width: 100%;
  border-radius: 50px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  padding: 1.2rem 2.5rem;
  background: hsl(0, 100%, 98%);
  color: rgba(0, 0, 0, 0.3);
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
}
.error-info {
  display: none;
  position: absolute;
  right: 80px;
  margin-right: 2rem;
  //   width: 10%;
}
button {
  position: absolute;
  right: 0;
  border-radius: 50px;
  padding: 1rem 2.5rem;
  cursor: pointer;
  background: linear-gradient(
    120deg,
    rgba(248, 191, 191, 1) 0%,
    rgba(238, 140, 140, 1) 100%
  );
}
button:hover {
  box-shadow: 0px 15px 50px 0px rgba(206, 151, 151, 1);
}
.input-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //   border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  padding: 0 0 0 0;
}
.image-desktop {
  display: none;
}

@media (min-width: 1440px) {
  body {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  h1,
  h2 {
    text-align: left;
    font-size: 6.6rem;
  }
  p {
    font-size: 1.6rem;
    text-align: left;
    line-height: 4rem;
  }
  header {
    img {
      width: 10%;
    }
  }
  #logo {
    // background: red;
    width: 35%;
    padding: 5rem 0 0 12rem;
    min-height: 10vh;
  }
  .hero-section {
    width: 65%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 10rem;
    text-align: left;
    .image-mobile {
      display: none;
    }
  }
  .image-desktop {
    min-height: 100vh;
    display: inline;
  }
}
.input-wrapper {
  button {
    padding: 1.5rem 3.5rem;
  }
  input {
    font-size: 2rem;
    font-weight: 400;
  }
}
