* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
h1 {
  font-size: 3.4rem;
  line-height: 3.5rem;
}
h3 {
  font-size: 1.6rem;
  font-weight: 400;
}
h2 {
  font-size: 2rem;
  font-weight: 600;
}
body {
  font-family: "Poppins", sans-serif;
  color: #4a4a4a;
  background: white;
}
.card-wrapper {
  min-height: 50vh;
  img {
    width: 100%;
  }
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 0 2rem;

  progress {
    margin: 3rem 0;
    width: 100%;
    padding: 1rem 0;

    // background: #00AEEF;
  }
  button {
    display: block;
    margin: 0 auto;
    width: 100%;
    border: none;
    padding: 1rem 0;
    // border-radius: 0.5rem;
    background: #da336b;
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 1.6rem;
    font-weight: 400;
  }
}
.donation-status {
  min-height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  // margin: 7rem 0;
}
