<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
      integrity="sha512-+NqPlbbtM1QqiK8ZAo4Yrj2c4lNQoGv8P79DPtKzj++l5jnN39rHA/xsqn8zE9l0uSoxaCdrOgFs6yjyfbBxSg=="
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/assets/styles.css" />
    <title>Todo List!</title>
  </head>
  <body>
    <h1>Tes</h1>
    <div id="todo-table">
      <form action="">
        <input type="text" name="item" placeholder="Add new item" required />
        <button type="submit">Add item</button>
      </form>
      <ul>
        <% for(var i=0;i<todos.length;i++){ %>
          <li><%= todos[i].item %></li>
          <%}%>
      </ul>
    </div>
  </body>
</html>
