<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple CRUD</title>
  </head>
  <body>
    <h1>Are you sure deleting quote from: <%= quotes.name %>?</h1>
    <form action="/<%= quotes._id %>/delete" method="post">
      <button type="submit">Delete</button>
      <button type="button" id="cancel">Cancel</button>
    </form>
    <script src="/main.js"></script>
  </body>
</html>
