<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple CRUD</title>
  </head>
  <body>
    <h1>Edit quotes from: <%= quotes.name %></h1>
    <form action="/<%= quotes._id %>/update" method="post">
      <input type="text" name="name" value="<%= quotes.name %>" />
      <input type="text" name="quote" value="<%= quotes.quote %>" />
      <button type="submit">Update</button>
      <button type="button" id="cancel">Cancel</button>
    </form>
    <script src="/main.js"></script>
  </body>
</html>
